<%- include("../partials/header") %>

    <div class = "container">
        <h1 style = "text-align : center">EDIT COMMENT</h1>
        <div style = "width:30%; margin:25px auto">
            <form action  = "/campgrounds/<%= campground_id %>/comments/<%= comment._id%>?_method=PUT" method = "POST">
              
              <div class="form-group">
                <label>text</label>
                <input type="text" class="form-control" name = "comment[text]" aria-describedby="emailHelp" value="<%= comment.text%>">
              </div>

              <button type="submit" class="btn btn-primary" style = "margin: 10px auto">Submit</button>
            </form>
            <a href = "/campgrounds">Go back</a>
        
    </div>






<%- include("../partials/footer") %>